In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import country_converter as coco
import plotly.express as px
import plotly.io as pio

In [3]:
data_2015 = pd.read_csv("../raw_data/2015.csv")
data_2016 = pd.read_csv("../raw_data/2016.csv")
data_2017 = pd.read_csv("../raw_data/2017.csv")
data_2018 = pd.read_csv("../raw_data/2018.csv")
data_2019 = pd.read_csv("../raw_data/2019.csv")

# Read the data

# 2015

In [6]:
data_2015.head

<bound method NDFrame.head of          Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
153     0.22628            0.67042
154     0.18260            1.63328
155     0.47179            0.32858
156     0.19727            1.83302
157     0.16681            1.56726

[158 rows x 12 columns]>

In [5]:
data_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

# 2016

In [7]:
data_2016.head

<bound method NDFrame.head of          Country                           Region  Happiness Rank  \
0        Denmark                   Western Europe               1
1    Switzerland                   Western Europe               2
2        Iceland                   Western Europe               3
3         Norway                   Western Europe               4
4        Finland                   Western Europe               5
..           ...                              ...             ...
152        Benin               Sub-Saharan Africa             153
153  Afghanistan                    Southern Asia             154
154         Togo               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157

     Happiness Score  Lower Confidence Interval  Upper Confidence Interval  \
0              7.526                      7.460                      7.592
1              7.509                      7.428                      7.590
2              7.501                      7.333                      7.669
3              7.498                      7.421                      7.575
4              7.413                      7.351                      7.475
..               ...                        ...                        ...
152            3.484                      3.404                      3.564
153            3.360                      3.288                      3.432
154            3.303                      3.192                      3.414
155            3.069                      2.936                      3.202
156            2.905                      2.732                      3.078

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                     1.44178  1.16374                   0.79504  0.57941
1                     1.52733  1.14524                   0.86303  0.58557
2                     1.42666  1.18326                   0.86733  0.56624
3                     1.57744  1.12690                   0.79579  0.59609
4                     1.40598  1.13464                   0.81091  0.57104
..                        ...      ...                       ...      ...
152                   0.39499  0.10419                   0.21028  0.39747
153                   0.38227  0.11037                   0.17344  0.16430
154                   0.28123  0.00000                   0.24811  0.34678
155                   0.74719  0.14866                   0.62994  0.06912
156                   0.06831  0.23442                   0.15747  0.04320

     Trust (Government Corruption)  Generosity  Dystopia Residual
0                          0.44453     0.36171            2.73939
1                          0.41203     0.28083            2.69463
2                          0.14975     0.47678            2.83137
3                          0.35776     0.37895            2.66465
4                          0.41004     0.25492            2.82596
..                             ...         ...                ...
152                        0.06681     0.20180            2.10812
153                        0.07112     0.31268            2.14558
154                        0.11587     0.17517            2.13540
155                        0.17233     0.48397            0.81789
156                        0.09419     0.20290            2.10404

[157 rows x 13 columns]>

In [8]:
data_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

# 2017

In [10]:
data_2017.head

<bound method NDFrame.head of                       Country  Happiness.Rank  Happiness.Score  Whisker.high  \
0                      Norway               1            7.537      7.594445
1                     Denmark               2            7.522      7.581728
2                     Iceland               3            7.504      7.622030
3                 Switzerland               4            7.494      7.561772
4                     Finland               5            7.469      7.527542
..                        ...             ...              ...           ...
150                    Rwanda             151            3.471      3.543030
151                     Syria             152            3.462      3.663669
152                  Tanzania             153            3.349      3.461430
153                   Burundi             154            2.905      3.074690
154  Central African Republic             155            2.693      2.864884

     Whisker.low  Economy..GDP.per.Capita.    Family  \
0       7.479556                  1.616463  1.533524
1       7.462272                  1.482383  1.551122
2       7.385970                  1.480633  1.610574
3       7.426227                  1.564980  1.516912
4       7.410458                  1.443572  1.540247
..           ...                       ...       ...
150     3.398970                  0.368746  0.945707
151     3.260331                  0.777153  0.396103
152     3.236570                  0.511136  1.041990
153     2.735310                  0.091623  0.629794
154     2.521116                  0.000000  0.000000

     Health..Life.Expectancy.   Freedom  Generosity  \
0                    0.796667  0.635423    0.362012
1                    0.792566  0.626007    0.355280
2                    0.833552  0.627163    0.475540
3                    0.858131  0.620071    0.290549
4                    0.809158  0.617951    0.245483
..                        ...       ...         ...
150                  0.326425  0.581844    0.252756
151                  0.500533  0.081539    0.493664
152                  0.364509  0.390018    0.354256
153                  0.151611  0.059901    0.204435
154                  0.018773  0.270842    0.280876

     Trust..Government.Corruption.  Dystopia.Residual
0                         0.315964           2.277027
1                         0.400770           2.313707
2                         0.153527           2.322715
3                         0.367007           2.276716
4                         0.382612           2.430182
..                             ...                ...
150                       0.455220           0.540061
151                       0.151347           1.061574
152                       0.066035           0.621130
153                       0.084148           1.683024
154                       0.056565           2.066005

[155 rows x 12 columns]>

In [9]:
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

# 2018

In [ ]:
data_2018.head

<bound method NDFrame.head of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.632           1.305
1               2                    Norway  7.594           1.456
2               3                   Denmark  7.555           1.351
3               4                   Iceland  7.495           1.343
4               5               Switzerland  7.487           1.420
..            ...                       ...    ...             ...
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.592                    0.874                         0.681
1             1.582                    0.861                         0.686
2             1.590                    0.868                         0.683
3             1.644                    0.914                         0.677
4             1.549                    0.927                         0.660
..              ...                      ...                           ...
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
0         0.202                      0.393
1         0.286                      0.340
2         0.284                      0.408
3         0.353                      0.138
4         0.256                      0.357
..          ...                        ...
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

[156 rows x 9 columns]>

In [12]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

# 2019

In [14]:
data_2019.head

<bound method NDFrame.head of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.769           1.340
1               2                   Denmark  7.600           1.383
2               3                    Norway  7.554           1.488
3               4                   Iceland  7.494           1.380
4               5               Netherlands  7.488           1.396
..            ...                       ...    ...             ...
151           152                    Rwanda  3.334           0.359
152           153                  Tanzania  3.231           0.476
153           154               Afghanistan  3.203           0.350
154           155  Central African Republic  3.083           0.026
155           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.587                    0.986                         0.596
1             1.573                    0.996                         0.592
2             1.582                    1.028                         0.603
3             1.624                    1.026                         0.591
4             1.522                    0.999                         0.557
..              ...                      ...                           ...
151           0.711                    0.614                         0.555
152           0.885                    0.499                         0.417
153           0.517                    0.361                         0.000
154           0.000                    0.105                         0.225
155           0.575                    0.295                         0.010

     Generosity  Perceptions of corruption
0         0.153                      0.393
1         0.252                      0.410
2         0.271                      0.341
3         0.354                      0.118
4         0.322                      0.298
..          ...                        ...
151       0.217                      0.411
152       0.276                      0.147
153       0.158                      0.025
154       0.235                      0.035
155       0.202                      0.091

[156 rows x 9 columns]>

In [13]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [17]:
happiness_df = {
    "2015": data_2015,
    "2016": data_2016,
    "2017": data_2017,
    "2018": data_2018,
    "2019": data_2019
}

In [ ]:
columns_map = {
    # pais
    'Country': 'country',
    'Country or region': 'country',

    # Happiness Score
    'Happiness Score': 'happiness_score',
    'Happiness.Score': 'happiness_score',
    'Score': 'happiness_score',

    # rango de felicidad
    'Happiness Rank': 'happiness_rank',
    'Happiness.Rank': 'happiness_rank',
    'Overall rank': 'happiness_rank',

    # economia (GDP per Capita)
    'Economy (GDP per Capita)': 'economy',
    'Economy..GDP.per.Capita.': 'economy',
    'GDP per capita': 'economy',

    # salud (expectativa de vida)
    'Health (Life Expectancy)': 'health',
    'Health..Life.Expectancy.': 'health',
    'Healthy life expectancy': 'health',

    # Soporte social
    'Family': 'social_support',
    'Social support': 'social_support',

    # libertad
    'Freedom': 'freedom',
    'Freedom to make life choices': 'freedom',

    # percepción de corrupción
    'Trust (Government Corruption)': 'corruption_perception',
    'Trust..Government.Corruption.': 'corruption_perception',
    'Perceptions of corruption': 'corruption_perception',

    # Generosidad
    'Generosity': 'generosity',

    # Dystopia Residual
    'Dystopia Residual': 'dystopia_residual',
    'Dystopia.Residual': 'dystopia_residual',
}

In [31]:
normalized_df = {}

for year, df in happiness_df.items():
    df = df.rename(columns=column_mapping)
    normalized_df[year] = df

In [32]:
normalized_df["2015"].head()

,country,Region,happiness_rank,happiness_score,Standard Error,economy,social_support,health,freedom,corruption_perception,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [33]:
normalized_df["2016"].head()

,country,Region,happiness_rank,happiness_score,Lower Confidence Interval,Upper Confidence Interval,economy,social_support,health,freedom,corruption_perception,generosity,dystopia_residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [34]:
normalized_df["2017"].head()

,country,happiness_rank,happiness_score,Whisker.high,Whisker.low,economy,social_support,health,freedom,generosity,corruption_perception,dystopia_residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [35]:
normalized_df["2018"].head()

,happiness_rank,country,happiness_score,economy,social_support,health,freedom,generosity,corruption_perception
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [36]:
normalized_df["2019"].head()

,happiness_rank,country,happiness_score,economy,social_support,health,freedom,generosity,corruption_perception
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [40]:
year_happiness_df = {}

for year, df in normalized_df.items():
    df["year"] = year
    year_happiness_df[year] = df

In [41]:
year_happiness_df["2015"].head()

,country,Region,happiness_rank,happiness_score,Standard Error,economy,social_support,health,freedom,corruption_perception,generosity,dystopia_residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [42]:
year_happiness_df["2016"].head()

,country,Region,happiness_rank,happiness_score,Lower Confidence Interval,Upper Confidence Interval,economy,social_support,health,freedom,corruption_perception,generosity,dystopia_residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [43]:
year_happiness_df["2017"].head()

,country,happiness_rank,happiness_score,Whisker.high,Whisker.low,economy,social_support,health,freedom,generosity,corruption_perception,dystopia_residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [44]:
year_happiness_df["2018"].head()

,happiness_rank,country,happiness_score,economy,social_support,health,freedom,generosity,corruption_perception,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [45]:
year_happiness_df["2019"].head()

,happiness_rank,country,happiness_score,economy,social_support,health,freedom,generosity,corruption_perception,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [46]:
# Find the common columns across all DataFrames
shared_columns = list(set.intersection(*(set(data.columns) for data in year_happiness_df.values())))

# Filter each DataFrame to keep only the common columns
filtered_df = [data[shared_columns] for data in year_happiness_df.values()]

# Concatenate the filtered DataFrames into one, ignoring the original index
merged_df = pd.concat(filtered_df, ignore_index=True)

# Display the first few rows of the resulting DataFrame
merged_df.head()

,corruption_perception,social_support,generosity,happiness_score,happiness_rank,year,freedom,health,country,economy
0,0.41978,1.34951,0.29678,7.587,1,2015,0.66557,0.94143,Switzerland,1.39651
1,0.14145,1.40223,0.43630,7.561,2,2015,0.62877,0.94784,Iceland,1.30232
2,0.48357,1.36058,0.34139,7.527,3,2015,0.64938,0.87464,Denmark,1.32548
3,0.36503,1.33095,0.34699,7.522,4,2015,0.66973,0.88521,Norway,1.45900
4,0.32957,1.32261,0.45811,7.427,5,2015,0.63297,0.90563,Canada,1.32629

In [49]:
merged_df.info

<bound method DataFrame.info of      corruption_perception  social_support  generosity  happiness_score  \
0                  0.41978         1.34951     0.29678            7.587
1                  0.14145         1.40223     0.43630            7.561
2                  0.48357         1.36058     0.34139            7.527
3                  0.36503         1.33095     0.34699            7.522
4                  0.32957         1.32261     0.45811            7.427
..                     ...             ...         ...              ...
777                0.41100         0.71100     0.21700            3.334
778                0.14700         0.88500     0.27600            3.231
779                0.02500         0.51700     0.15800            3.203
780                0.03500         0.00000     0.23500            3.083
781                0.09100         0.57500     0.20200            2.853

     happiness_rank  year  freedom   health                   country  economy
0                 1  2015  0.66557  0.94143               Switzerland  1.39651
1                 2  2015  0.62877  0.94784                   Iceland  1.30232
2                 3  2015  0.64938  0.87464                   Denmark  1.32548
3                 4  2015  0.66973  0.88521                    Norway  1.45900
4                 5  2015  0.63297  0.90563                    Canada  1.32629
..              ...   ...      ...      ...                       ...      ...
777             152  2019  0.55500  0.61400                    Rwanda  0.35900
778             153  2019  0.41700  0.49900                  Tanzania  0.47600
779             154  2019  0.00000  0.36100               Afghanistan  0.35000
780             155  2019  0.22500  0.10500  Central African Republic  0.02600
781             156  2019  0.01000  0.29500               South Sudan  0.30600

[782 rows x 10 columns]>

In [50]:
merged_df[merged_df['corruption_perception'].isna()]

,corruption_perception,social_support,generosity,happiness_score,happiness_rank,year,freedom,health,country,economy
489,NaN,0.776,0.186,6.774,20,2018,0.284,0.67,United Arab Emirates,2.096

In [51]:
df.describe()

,happiness_rank,happiness_score,economy,social_support,health,freedom,generosity,corruption_perception
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [52]:
# Fill missing values in the 'corruption_perception' column with the column's mean
merged_df["corruption_perception"] = (
    merged_df["corruption_perception"]
    .fillna(merged_df["corruption_perception"].mean())
)

# Query the DataFrame for rows where the country is 'United Arab Emirates' and the year is '2018'
merged_df.query("country == 'United Arab Emirates' & year == '2018'")

,corruption_perception,social_support,generosity,happiness_score,happiness_rank,year,freedom,health,country,economy
489,0.125436,0.776,0.186,6.774,20,2018,0.284,0.67,United Arab Emirates,2.096

In [53]:
# Initialize the CountryConverter
cc = coco.CountryConverter()

# Convert the 'country' column to continents and store the result in a new 'continent' column
merged_df["continent"] = cc.convert(names=merged_df["country"].tolist(), to="continent")

# Display the first 10 rows of the 'continent' and 'country' columns
merged_df[["continent", "country"]].head(10)

  continent      country
0    Europe  Switzerland
1    Europe      Iceland
2    Europe      Denmark
3    Europe       Norway
4   America       Canada
5    Europe      Finland
6    Europe  Netherlands
7    Europe       Sweden
8   Oceania  New Zealand
9   Oceania    Australia

In [54]:
# Remove duplicate countries to get unique entries
unique_countries = merged_df.drop_duplicates(subset=['country'])

# Get the count of unique countries per continent
unique_countries['continent'].value_counts()

continent
Africa     50
Asia       50
Europe     41
America    27
Oceania     2
Name: count, dtype: int64

In [55]:
# Query for unique countries in the continent "America"
unique_countries.query("continent == 'America'")["country"].unique()

array(['Canada', 'Costa Rica', 'Mexico', 'United States', 'Brazil',
       'Venezuela', 'Panama', 'Chile', 'Argentina', 'Uruguay', 'Colombia',
       'Suriname', 'Trinidad and Tobago', 'El Salvador', 'Guatemala',
       'Ecuador', 'Bolivia', 'Paraguay', 'Nicaragua', 'Peru', 'Jamaica',
       'Dominican Republic', 'Honduras', 'Haiti', 'Puerto Rico', 'Belize',
       'Trinidad & Tobago'], dtype=object)

In [56]:
# Define a mapping for specific countries to continents
continent_mapping = {
    "Canada": "North America",
    "Costa Rica": "Central America",
    "Mexico": "North America",
    "United States": "North America",
    "Brazil": "South America",
    "Venezuela": "South America",
    "Panama": "Central America",
    "Chile": "South America",
    "Argentina": "South America",
    "Uruguay": "South America",
    "Colombia": "South America",
    "Suriname": "South America",
    "Trinidad and Tobago": "South America",
    "El Salvador": "Central America",
    "Guatemala": "Central America",
    "Ecuador": "South America",
    "Bolivia": "South America",
    "Paraguay": "South America",
    "Nicaragua": "Central America",
    "Peru": "South America",
    "Jamaica": "Central America",
    "Dominican Republic": "Central America",
    "Honduras": "Central America",
    "Haiti": "Central America",
    "Puerto Rico": "Central America",
    "Belize": "Central America",
    "Trinidad & Tobago": "South America"
}

In [57]:
# Map the continent information based on the country and fill missing values with existing continent data
merged_df["continent"] = merged_df["country"].map(continent_mapping).fillna(merged_df["continent"])

# Display the first 10 rows of the 'continent' and 'country' columns
merged_df[["continent", "country"]].head(10)

       continent      country
0         Europe  Switzerland
1         Europe      Iceland
2         Europe      Denmark
3         Europe       Norway
4  North America       Canada
5         Europe      Finland
6         Europe  Netherlands
7         Europe       Sweden
8        Oceania  New Zealand
9        Oceania    Australia

In [ ]:
# Define the new column order
order = [
    'country',
    'continent',
    'year',
    'health',
    'social_support',
    'economy',
    'corruption_perception',
    'freedom',
    'generosity',
    'happiness_rank',
    'happiness_score'
]

# Reorder the columns in merged_df
merged_df = merged_df[order]

# Display the first few rows of the reordered DataFrame
merged_df.head()

,country,continent,year,health,social_support,economy,corruption_perception,freedom,generosity,happiness_rank,happiness_score
0,Switzerland,Europe,2015,0.94143,1.34951,1.39651,0.41978,0.66557,0.29678,1,7.587
1,Iceland,Europe,2015,0.94784,1.40223,1.30232,0.14145,0.62877,0.43630,2,7.561
2,Denmark,Europe,2015,0.87464,1.36058,1.32548,0.48357,0.64938,0.34139,3,7.527
3,Norway,Europe,2015,0.88521,1.33095,1.45900,0.36503,0.66973,0.34699,4,7.522
4,Canada,North America,2015,0.90563,1.32261,1.32629,0.32957,0.63297,0.45811,5,7.427

In [ ]:
# Set the renderer to open in a web browser
pio.renderers.default = "browser"

# Simple choropleth map showing happiness score per country
fig = px.choropleth(
    merged_df,  # Replace with your DataFrame name if different
    locations="country",
    locationmode="country names",
    color="happiness_score",
    hover_name="country",
    color_continuous_scale="Viridis",
    title="Happiness Score per Country"
)

# Display the map in the browser
fig.show()